---
import Layout from '../layouts/Layout.astro';
---

<style>
  @font-face {
    font-family: "FuturaBT";
    src: url("/fonts/FuturaBT.woff2") format("woff2"),
         url("/fonts/FuturaBT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full screen */
    margin: 0;
  }

  h1 {
    font-family: "FuturaBT", sans-serif;
    font-size: 3rem;
    text-align: center;
  }
</style>

<Layout title="Brand Rapid">
  <main>
    <h1>Brand Rapid</h1>
  </main>
</Layout>
